name: Build APK Andrew
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25b
      - name: Corrigir Wrapper
        run: |
          mkdir -p gradle/wrapper
          wget https://github.com -O gradle/wrapper/gradle-wrapper.jar
      - name: Build APK
        run: bash ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AndrewVIP-Mod
          path: app/build/outputs/apk/debug/*.apk
          
